<a href="https://colab.research.google.com/github/prashantiyaramareddy/AI-ML-Learnings/blob/master/DSA/Strings/Strings_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In Python Strings are arrays of bytes representing Unicode characters

### Order and Character

In [2]:
print(ord("a"))
print(ord("A"))
print(chr(97))

97
65
a

### Indexing in String

In [3]:
s = "geek"
print(s)
print(s[0])
print(s[1])
print(s[-1])

geek
g
e
k

## Strings are immutable

In [4]:
s = "geek"
s[0] = "e"
print(s)

TypeError: 'str' object does not support item assignment

### Multiline String

In [5]:
s = """Hi,
This is python course.
Hope you are enjoying it. """
print(s)

Hi,
This is python course.
Hope you are enjoying it.

In [7]:
s='welcome tp Geek\'s course'
print(s)

welcome tp Geek's course

In [8]:
s="Hi \nwelcome to the course"
print(s)

Hi
welcome to the course

In [9]:
s1="A simple \ example"
print(s1)
s2="Backslash at the end\\"
print(s2)
s3="\\n"
print(s3)
s4="\\t"
print(s4)

A simple \ example
Backslash at the end\
\n
\t

<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:1: SyntaxWarning: invalid escape sequence '\ '
/tmp/ipython-input-2011211587.py:1: SyntaxWarning: invalid escape sequence '\ '
  s1="A simple \ example"

In [10]:
s1="c:\project\name.py"
print(s1)

s2=r"c:\project\name.py"
print(s2)

c:\project
ame.py
c:\project\name.py

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
/tmp/ipython-input-2337859159.py:1: SyntaxWarning: invalid escape sequence '\p'
  s1="c:\project\name.py"

## **String Formatting**

There are four different ways to perform string formatting in Python:
* Formatting with % Operator.
* Formatting with format() string method.
* Formatting with string literals, called f-strings.
* Formatting with String Template Class

In [12]:
name = "ABC"

course = "Python Course"

s = "Welcome %s to the %s"%(name,course)
print(s)
print()
###########
# using format function

s = "welcome {0} to the {1}".format(name,course)
print(s)
print()
############################
# using f-string

s = f"welcome {name} to the {course}"
print(s)
print()

Welcome ABC to the Python Course

welcome ABC to the Python Course

welcome ABC to the Python Course

In [14]:
a =10
b = 20

print(f"sum of {a} and {b} is {a+b}")
print(f"sub of {a} and {b} is {a-b}")
print(f"mul of {a} and {b} is {a*b}")

sum of 10 and 20 is 30
sub of 10 and 20 is -10
mul of 10 and 20 is 200

In [15]:
s1  = "ABC"
s2 = "abc"

print(f"lower case of {s1} is {s1.lower()}")
print(f"upper case of {s2} is {s2.upper()}")

lower case of ABC is abc
upper case of abc is ABC

### String Comparison in Python

In [16]:
s1 = "geeksforgeeks"

s2 = "ide"

print(s1<s2)
print(s1<=s2)
print(s1>s2)
print(s1>=s2)
print(s1==s2)
print(s1 != s2)


print("#############")

print("abcd > abc ","abcd">"abc")
print("ZAB>ABC","ZAB">"ABC")

print("abc>ABC","abc">"ABC")

print("x>abcd","x">"abcd")

True
True
False
False
False
True
#############
abcd > abc  True
ZAB>ABC True
abc>ABC True
x>abcd True

### String Operations Part(1)

Python offers two membership operators to check or validate the membership of a value. It tests for membership in a sequence, such as strings, lists, or tuples.

in operator: The ‘in’ operator is used to check if a character/ substring/ element exists in a sequence or not. Evaluate to True if it finds the specified element in a sequence otherwise False.

‘not in’ operator- Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.

In [17]:
s1 = "geeksforgeeks"
s2 = "geeks"

print(s2 in s1)
print(s2 not in s1)

True
False

**String Concatenation using + Operator**

It’s very easy to use the + operator for string concatenation. This operator can be used to add multiple strings together. However, the arguments must be a string. Here, The + Operator combines the string that is stored in the var1 and var2 and stores in another variable var3.

In [18]:
s1 = "geeks"
s2 = "for"
s3 = s1 + s2

s4 = "welcome to " + s1 + s2

print(s3)
print(s4)

geeksfor
welcome to geeksfor

In [23]:
s1 = "geeksforgeeks"
s2 = "geeks"

print(s1.index(s2))
print(s1.rindex(s2))        # right index
print(s1.index(s2,1,13))    # start and end index

0
8
8